/* === Remove input autofocus webkit === */

@font-face {font-family: 'Museo-300';src: url('webfonts/23EDA7_0_0.eot');src: url('webfonts/23EDA7_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/23EDA7_0_0.woff') format('woff'),url('webfonts/23EDA7_0_0.ttf') format('truetype');}
@font-face {font-family: 'Droid';src: url('webfonts/droidsans-webfont.eot');src: url('webfonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/droidsans-webfont.woff') format('woff'),url('webfonts/droidsans-webfont.ttf') format('truetype');}
@font-face {font-family: 'League_Gothic';src: url('webfonts/League_Gothic-webfont.eot');src: url('webfonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/League_Gothic-webfont.woff') format('woff'),url('webfonts/League_Gothic-webfont.ttf') format('truetype');}
@font-face { font-family: 'Segoe'; src: url('webfonts/SEGOEUI.ttf'); }


*:focus {outline: none;}

.fila {
	float: left;
	height: 100px;
	width: 100%
}

#tabla {
	float: left;
	width: 100%;
	height: 400px;
	margin-top: 25px;
}

.celda {
	float: left;
	width: 220px;
	margin-left: 15px;
}

.celda_2 {
	float: left;
	width: 280px;
}

#ul1 {
	float: left;
	width: 100%;
}

#ul2{
	float: left;
	width: 100%;
}

#tipo_turno {
	width: 100%;
	float: left;
	padding-left: 15px;
	margin-bottom: 30px;
	margin-top: 10px;
}

#nuevo {
	margin-bottom: 10px;
	float: left;
}

.titulo
{
	height: 300px;
	color: white;
	font-weight: normal;
	font-family: 'Segoe';
	font-size: 70px;
	background: #97BFD9;
	padding-left: 30px;

}

#fecha1 {
	float: left;
	font-size: 80px;
	width: 100%
}

#fecha2 {
	float: left;
	font-size: 60px;
	width: 100%;
}


input[type=checkbox] {

	position: absolute;
	left: -999em;
}

input[type=checkbox] + label {
	padding-left: 60px;
	display: block;
	height: 48px;
	//width: 48px;
	background: url(images/unchecked.png) top left no-repeat;
}


input[type=checkbox]:checked + label {
	background-image: url(images/checked.png);
}

/* === Form Typography === */
//body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
body {
	//background: url(images/bg-quilted.jpeg);
	font-size : 40px;
	font-family: 'Segoe';
	font-weight: bold;
}
.contact_form h2, .contact_form label {font-family: 'Segoe'}
.form_hint, .required_notification {font-size: 20px;}

/* === List Styles === */
.contact_form ul {
    width:100%;
    list-style-type:none;
	list-style-position:outside;
	margin-bottom:10px;
	padding:0px;
}
.contact_form li{
	padding:12px;
	margin-bottom: 30px;
	border-bottom:1px solid #eee;
	position:relative;
}
/*.contact_form li:first-child, .contact_form li:last-child {
	border-bottom:1px solid #777;
}
*/
/* === Form Header === */
.contact_form h2 {
	margin:0;
	display: inline;
}
.required_notification {
	color:#d45252;
	margin:5px 0 0 0;
	display:inline;
	float:right;
}

/* === Form Elements === */
.contact_form label {
	width:300px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.contact_form input {
	height:70px;
	//width:220px;
	font-size: 60px;
	padding:5px 8px;
}

.contact_form select {
	height:80px;
	width: 500px;
	font-size: 50px;
	padding:5px 8px;
}
.contact_form textarea {padding:8px; width:570px; font-size: 40px;}
.contact_form button {margin-left:120px;}

	/* form element visual styles */
	.contact_form input, .contact_form textarea {
		border:1px solid #aaa;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
		border-radius:2px;
		padding-right:30px;
/*		-moz-transition: padding .25s;
		-webkit-transition: padding .25s;
		-o-transition: padding .25s;
		transition: padding .25s; */
	}
	.contact_form input:focus, .contact_form textarea:focus {
		background: #fff;
		border:1px solid #555;
		box-shadow: 0 0 3px #aaa;
/*		padding-right:70px; */
	}

/* === HTML5 validation styles === */
.contact_form input:required, .contact_form textarea:required {
	background: #fff //url(images/red_asterisk.png) no-repeat 98% center;
}
.contact_form input:required:valid, .contact_form textarea:required:valid {
	background: #fff url(images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff url(images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;}
.contact_form input:required:valid + .form_hint::before {color:#28921f;}

/* === Button Style === */
button.submit {

	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #68b12f, #50911e);
	background: -ms-linear-gradient(top, #68b12f, #50911e);
	background: -o-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	//font-weight: bold;
	font-size: 40px;
	font-family: 'Segoe';
	padding: 20px 70px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer;
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset;
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;

}


button.cancel {
	margin-left: 25px;
	background-color: #bf2c28;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf2c28), to(#ba1612));
	background: -webkit-linear-gradient(top, #bf2c28, #ba1612);
	background: -moz-linear-gradient(top, #bf2c28, #ba1612);
	background: -ms-linear-gradient(top, #bf2c28, #ba1612);
	background: -o-linear-gradient(top, #bf2c28, #ba1612);
	background: linear-gradient(top, #bf2c28, #ba1612);
	border: 1px solid #ba1612;
	border-bottom: 1px solid #bf2c28;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	box-shadow: inset 0 1px 0 0 #de5f5b;
	-webkit-box-shadow: 0 1px 0 0 #de5f5b inset ;
	-moz-box-shadow: 0 1px 0 0 #de5f5b inset;
	-ms-box-shadow: 0 1px 0 0 #de5f5b inset;
	-o-box-shadow: 0 1px 0 0 #de5f5b inset;
	color: white;
	//font-weight: bold;
	font-size: 40px;
	font-family: 'Segoe';
	padding: 20px 70px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
}
button.cancel:hover {
	opacity:.85;
	cursor: pointer;
}
button.cancel:active {
	border: 1px solid #911e1e;
	box-shadow: 0 0 10px 5px #6b0b0b inset;
	-webkit-box-shadow:0 0 10px 5px #6b0b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #6b0b0b inset;
	-ms-box-shadow: 0 0 10px 5px #6b0b0b inset;
	-o-box-shadow: 0 0 10px 5px #6b0b0b inset;

}

button.delete {
	margin-left: 25px;
	background-color: #428ad8;
	background: -webkit-gradient(linear, left top, left bottom, from(#428ad8), to(#1f5795));
	background: -webkit-linear-gradient(top, #428ad8, #1f5795);
	background: -moz-linear-gradient(top, #428ad8, #1f5795);
	background: -ms-linear-gradient(top, #428ad8, #1f5795);
	background: -o-linear-gradient(top, #428ad8, #1f5795);
	background: linear-gradient(top, #428ad8, #1f5795);
	border: 1px solid #1f5795;
	border-bottom: 1px solid #428ad8;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	box-shadow: inset 0 1px 0 0 #1b4b80;
	-webkit-box-shadow: 0 1px 0 0 #1b4b80 inset ;
	-moz-box-shadow: 0 1px 0 0 #1b4b80 inset;
	-ms-box-shadow: 0 1px 0 0 #1b4b80 inset;
	-o-box-shadow: 0 1px 0 0 #1b4b80 inset;
	color: white;
	//font-weight: bold;
	font-size: 20px;
	font-family: 'Segoe';
	padding: 20px 120px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
}
button.delete:hover {
	opacity:.85;
	cursor: pointer;
}
button.delete:active {
	border: 1px solid #1e5791;
	box-shadow: 0 0 10px 5px #0b3b6b inset;
	-webkit-box-shadow:0 0 10px 5px #0b3b6b inset ;
	-moz-box-shadow: 0 0 10px 5px #0b3b6b inset;
	-ms-box-shadow: 0 0 10px 5px #0b3b6b inset;
	-o-box-shadow: 0 0 10px 5px #0b3b6b inset;

}

#test {margin-left: 307px; margin-top: 20px; margin-bottom: 30px}
#test input {width: 460px;}
