@font-face { 
	font-family: 'MyWebFont';
	src: url('webfonts/miso-light.otf');
	url('webfonts/miso-light.ttf') format('truetype'),
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('webfonts/entypo-webfont.eot');
    src: url('webfonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/entypo-webfont.woff') format('woff'),
         url('webfonts/entypo-webfont.ttf') format('truetype'),
         url('webfonts/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { font-family: 'Segoe'; src: url('webfonts/SEGOEUI.ttf'); } 
@font-face {font-family: 'Museo-300';src: url('webfonts/23EDA7_0_0.eot');src: url('webfonts/23EDA7_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/23EDA7_0_0.woff') format('woff'),url('webfonts/23EDA7_0_0.ttf') format('truetype');}
@font-face {font-family: 'Novecentowide-Light';src: url('webfonts/23EDAA_0_0.eot');src: url('webfonts/23EDAA_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/23EDAA_0_0.woff') format('woff'),url('webfonts/23EDAA_0_0.ttf') format('truetype');}
@font-face {font-family: 'League_Gothic';src: url('webfonts/League_Gothic-webfont.eot');src: url('webfonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/League_Gothic-webfont.woff') format('woff'),url('webfonts/League_Gothic-webfont.ttf') format('truetype');}
@font-face {font-family: 'Junction';src: url('webfonts/Junction-webfont.eot');src: url('webfonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/Junction-webfont.woff') format('woff'),url('webfonts/Junction-webfont.ttf') format('truetype');}
@font-face {font-family: 'Raleway';src: url('webfonts/raleway_thin-webfont.eot');src: url('webfonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/raleway_thin-webfont.woff') format('woff'),url('webfonts/raleway_thin-webfont.ttf') format('truetype');}
@font-face {font-family: 'Droid';src: url('webfonts/droidsans-webfont.eot');src: url('webfonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),url('webfonts/droidsans-webfont.woff') format('woff'),url('webfonts/droidsans-webfont.ttf') format('truetype');}

body {
	font-family: 'Segoe';
	//font-family: Helvetica, Arial, Sans-Serif;
}

#header {
	float: left;
	width: 100%;
	color: #fff;
	text-shadow: 0 1px 0 #EEE;
	margin-top: 30px;
}

#notas_dia {margin-top: 2px; margin-bottom: 5px; background-color: #97BFD9; border: 1px solid #E5E5E5;}
#notas_dia a {color: #F1F1F1; font-size: 60px;}
#notas_dia li {color: #F1F1F1; margin-bottom: 30px;}

#fecha_dia {float:left;margin-left: 10px; float: left; font-size: 100px;}
#fecha_mes_ano {float:left;margin-left: 30px; float: left; font-size: 60px;margin-top:40px;}


#menu a:visited {color: black} 

.hora {
	width: 200px;
	float: left;
	height: 50px;
	margin-left: 10px;
	margin-top: 30px;
}

.hora a {
	color: #333;
	//font-weight: bold;
	text-shadow: 0 1px 0 #EEE;
	//font-family: Helvetica, Arial, Sans-Serif;
	font-size: 60px;
}


.hora_ocupada {
	//width: 100px;
	float: left;
	//height: 50px;
	//margin-top: 10px;	
}

.hora_citado {
	//width: 100px;
	float: left;
	//height: 50px;
	margin-top: 5px;	
	margin-left: 3px;
}

.hora_citado a{
	color: #3282A2;
	font-size: 50px;
}

.hora_ocupada a {
	color: #97BFD9;//#9C9C9C;
	text-shadow: 0 1px 0 #EEE;
	font-size: 75px;
}

.fila_vacia {
	background-color: #F1F1F1;
	height: 150px;
	width: 100%;
	border: 1px solid #E5E5E5;
	margin-bottom: 10px;
	//border-bottom: 1px solid #CCC;
	//border-top: 1px solid #CCC;
	
}


.fila_vacia:active {
	background-color: white;
}

.fila_ocupada {
	width: 100%;
	//background: url('images/background_stripes.gif');//#9C9C9C;//#d4e7ff;
	//background: #E4E2E2;
	min-height: 580px;
	padding-top: 20px;
	margin-bottom: 10px;
	border: 1px solid #E5E5E5;
	//border-bottom: 1px solid #CCC;
	//border-top: 1px solid #CCC;
}

.fila_ocupada:hover {
	background-color: white;
}

.fila_ocupada:active {
	background-color: white;
}

.nombre_apellido{
	font-family: 'Segoe';
	font-size: 60px;
	float: left;
	width: 79%;
	//height: 160px;
	padding-left: 10px;
}

.nombre_apellido_vista{
	font-family: 'Segoe';
	font-size: 80px;
	float: left;
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
}

table {
	font-size: 40px;
}

.tabla_datos{
	margin-top: 20px;
	margin-left: 35px;
	float: left;
}

.tabla_datos tr {
	height: 60px;
}

.error_user {
	color: red;
}

a{ font-size: 40px}	

#horarios {float: left; width: 100%;}

.datos {font-weight: normal; font-size: 40px; margin-top: 40px; margin-left: 10px; float: left; width: 100%}
.datos_vista {font-weight: normal; font-size: 40px; margin-top: 20px; padding-top: 30px; margin-left: 10px; float: left; border-top: 1px solid #CCC; }
.campos{font-weight: bold; float: left; width: 35%; height: 60px;}
.campo_ficha{ font-size: 40px; margin-top: 10px; margin-left: 10px; font-weight: bold; float: left; width: 35%; height: 60px;}
.valores{float: left; width: 65%; height: 60px;}

.valor_ficha{float: left; width: 450px; height: 60px;}
.valor_ficha a{text-decoration: none; font-size: 50px; font-weight: bold; color: #97BFD9;//#9C9C9C; }
.tipo {height: 200px;}

.campos_vista{font-weight: bold; float: left; width: 40%; height: 90px;}
.valores_vista{float: left;height: 90px; width: 60%}
.valores_vista a{text-decoration: none; font-size: 40px; font-weight: bold; color: #97bfd9; }
.tipo_vista {height: 180px;}

.count {color:white;float: left; width: 60px; height: 60px; padding-top: 0px; background: #ff2600; text-align: center;border-radius: 50px; font-size: 40px; margin-right: 30px; margin-top: 40px}
.fila_superior{width: 100%; float: left}
.fila_inferior{width: 100%; float: left}
.botones {font-size: 40px; float: left; width: 100%; height: 100px; margin-top: 5px; padding-top: 20px; background-color: #97BFD9}

#dia_anterior {float: left; margin-left: 20px; margin-top: 10px}
#hoy {float: left; margin-left: 20px; margin-right: 20px; margin-top: 20px}
#dia_siguiente {float: left; margin-right: 100px; margin-top: 10px}
#principal {float: left; margin-left: 30px; margin-right: 20px; margin-top: 16px}
#agregar_notas {float: left; margin-left: 30px;margin-top: 10px}
#calendario {float: left; margin-left: 30px; margin-top: 20px}
#menu {height: 410px; background: #97BFD9;//#2D2D2D; //#00224C;}

.icono {float: left; margin-left: 40px; margin-right: 30px}
.calendar {font-family: Helvetica, Arial, Sans-Serif; font-size: 40px}
table.calendar {margin: auto}
.calendar .days td {width: 130px; height: 130px; border: 1px solid black; text-align: center}
.calendar .highlight {font-size: 50px; font-weight: bold;}
.calendar a {text-decoration: none; color: black;}
.calendar a:visited {color: black;}
.cabecera {height: 100px; font-size: 50px}
.semana {height: 100px}
.dia_semana {text-align: center}

.celda {width: 130px; height: 130px; font-size: 60px}
.llena {
	background-color: #bf2c28;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf2c28), to(#ba1612));
	background: -webkit-linear-gradient(top, #bf2c28, #ba1612);
	background: -moz-linear-gradient(top, #bf2c28, #ba1612);
}
.llena:hover {opacity:.85;}
.llena:active {
	box-shadow: 0 0 10px 5px #6b0b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #6b0b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #6b0b0b inset;
}

.vacia {
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #68b12f, #50911e);
}
.vacia:hover {opacity:.85;}
.vacia:active {
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
}


.media {
	background: -webkit-gradient(linear, left top, left bottom, from(#e39a0a), to(#cb810d));
	background: -webkit-linear-gradient(top, #e39a0a, #cb810d);
	background: -moz-linear-gradient(top, #e39a0a, #cb810d);
}
.media:hover {opacity:.85;}
.media:active {
	box-shadow: 0 0 10px 5px #835308 inset; 
	-webkit-box-shadow:0 0 10px 5px #835308 inset ;
	-moz-box-shadow: 0 0 10px 5px #835308 inset;
}

.bloqueada {
	background-image: url("./images/lock_stroke_24x32.png");
	background-repeat: no-repeat;
	//background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	//background: -webkit-linear-gradient(top, #68b12f, #50911e);
	//background: -moz-linear-gradient(top, #68b12f, #50911e);
}
.bloqueada:hover {opacity:.85;}
.bloqueada:active {
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
}

.titulo_turno { 
	height: 200px;
	color: white;
	font-weight: normal;
	font-family: 'Segoe';
	background: #97BFD9;
	padding-left: 30px;
}
	
.dia_turno { 
	float: left;
	font-size: 80px;
	width: 100%;
}	

.mes_ano_turno { 
	float: left;
	font-size: 50px;
	width: 65%;
	padding-top: 20px;
}

.hora_turno { 
	float: left;
	font-size: 80px;
}

#estado {float:left;}
	
#barra_estado { font-size: 70px; background-color: #a5bed8; color: white; font-family: 'League_Gothic'; margin-bottom: 10px; padding-left: 30px; float: left}
#busqueda {margin-bottom: 5px; height: 120px; padding-top: 10px; padding-right: 20px}


.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

/* Form wrapper styling */
.form-wrapper {
	float: left;
    //width: 450px;
    padding: 15px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(241,241,241,.4);
}
 
/* Form text input */
 
.form-wrapper input {
	width: 80%;
    //width: 550px;
    height: 60px;
    padding: 10px 5px;
    float: left;    
    font: 45px 'Segoe';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 80px;
    width: 150px;
    font: bold 25px/50px 'Segoe';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #e54040;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}      
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   